{% extends "base.html" %}

{% block page_content %}
<div>
    
    <h1 style="background-color:white; text-align:center;">Chat with SharkByte</h1>
</div>
    <h3>About</h3>
    <body>
    <p>SharkByte is your friendly source to ask and chat and answer questions about places to visit, activities, and local events in Hawaii.
    Made for anyone, everywhere; suitable for visitors, residents, and anyone interested in Hawaii, without any problem.</p>
    <img  src="/static/images/img1.jpg" width="300" height="250" ></img>
    <img  src="/static/images/img2.png" width="300" height="250" ></img>
    <img  src="/static/images/img3.jpg" width="300" height="250" ></img>
    <img  src="/static/images/img4.jpg" width="300" height="250" ></img>
    </body>
    <br>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/gradio" class="btn btn-primary">Chat with SharkByte Here</a>



</div>
{% endblock page_content%} 